USE [master]
GO
/****** Object:  Database [chatapi]    Script Date: 24-08-2025 13:08:24 ******/
CREATE DATABASE [chatapi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'chatapi', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\chatapi.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'chatapi_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\chatapi_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [chatapi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [chatapi]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 24-08-2025 13:08:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 24-08-2025 13:08:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[DepartmentName] [nvarchar](max) NOT NULL,
	[Remarks] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Departments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 24-08-2025 13:08:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[EmployeeCode] [nvarchar](max) NOT NULL,
	[departmenet] [nvarchar](max) NOT NULL,
	[role] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Images]    Script Date: 24-08-2025 13:08:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Images](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[image] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Images] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[logins]    Script Date: 24-08-2025 13:08:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[logins](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[MobileNo] [nvarchar](max) NULL,
	[password] [nvarchar](max) NULL,
 CONSTRAINT [PK_logins] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[messages]    Script Date: 24-08-2025 13:08:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[messages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MessageWrite] [nvarchar](max) NOT NULL,
	[MessageReply] [nvarchar](max) NOT NULL,
	[MessageRead] [bit] NOT NULL,
	[usernumber] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_messages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 24-08-2025 13:08:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Class] [nvarchar](max) NOT NULL,
	[Age] [int] NOT NULL,
	[DepartmentId] [bigint] NOT NULL,
 CONSTRAINT [PK_Students] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_UserPorfile]    Script Date: 24-08-2025 13:08:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_UserPorfile](
	[sno] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](200) NULL,
	[MobileNo] [varchar](200) NULL,
	[About] [nvarchar](max) NULL,
	[StatusLine] [varchar](max) NULL,
	[Images] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblMessages]    Script Date: 24-08-2025 13:08:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMessages](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[MsgSenderMobileNumber] [varchar](200) NULL,
	[MsgReciveMobileNumber] [varchar](200) NULL,
	[MsgDesc] [nvarchar](max) NULL,
	[MsgRead] [varchar](200) NULL,
	[Sendertime] [datetime] NULL,
	[Recivetime] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblStatus]    Script Date: 24-08-2025 13:08:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblStatus](
	[sno] [bigint] IDENTITY(1,1) NOT NULL,
	[MobileNo] [varchar](200) NULL,
	[Status] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UspUserStatus]    Script Date: 24-08-2025 13:08:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UspUserStatus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Mobileno] [varchar](200) NULL,
	[StatusMessage] [varchar](max) NULL,
	[CreatedAt] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250117104711_Initial', N'8.0.12')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250117113349_Initial', N'8.0.12')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250118054045_yguy', N'8.0.12')
GO
SET IDENTITY_INSERT [dbo].[Departments] ON 

INSERT [dbo].[Departments] ([Id], [DepartmentName], [Remarks]) VALUES (1, N'Human Resources', N'Responsible for recruitment, employee welfare, and compliance.')
INSERT [dbo].[Departments] ([Id], [DepartmentName], [Remarks]) VALUES (2, N'Finance', N'Manages the company’s financial operations, budgeting, and accounting.')
INSERT [dbo].[Departments] ([Id], [DepartmentName], [Remarks]) VALUES (3, N'Marketing', N'Focuses on promoting and advertising products and services.')
SET IDENTITY_INSERT [dbo].[Departments] OFF
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([Id], [Name], [Description], [EmployeeCode], [departmenet], [role]) VALUES (3, N'ayushaaaaaaaaa', N'80000', N'23232', N'it', N'buyer')
INSERT [dbo].[Employees] ([Id], [Name], [Description], [EmployeeCode], [departmenet], [role]) VALUES (4, N'ayush', N'test', N'67898765', N'it', N'admin')
INSERT [dbo].[Employees] ([Id], [Name], [Description], [EmployeeCode], [departmenet], [role]) VALUES (5, N'chiu', N'thi is text', N'65789765', N'hr', N'admin')
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
SET IDENTITY_INSERT [dbo].[Images] ON 

INSERT [dbo].[Images] ([Id], [Name], [image]) VALUES (1, N'dsfgjdhsj', N'7cef1e62-b764-4652-b813-96caea94b896.jpg')
INSERT [dbo].[Images] ([Id], [Name], [image]) VALUES (2, N'tests', N'8de24b00-5b98-47c9-9d3c-59a517886961.jpg')
SET IDENTITY_INSERT [dbo].[Images] OFF
GO
SET IDENTITY_INSERT [dbo].[logins] ON 

INSERT [dbo].[logins] ([id], [MobileNo], [password]) VALUES (1, N'7834874693', N'2121')
INSERT [dbo].[logins] ([id], [MobileNo], [password]) VALUES (2, N'9958133042', N'009900')
INSERT [dbo].[logins] ([id], [MobileNo], [password]) VALUES (3, N'37823728', N'232382')
SET IDENTITY_INSERT [dbo].[logins] OFF
GO
SET IDENTITY_INSERT [dbo].[messages] ON 

INSERT [dbo].[messages] ([Id], [MessageWrite], [MessageReply], [MessageRead], [usernumber]) VALUES (1, N'heeleo', N'hay i am ayush', 1, N'7834874693')
INSERT [dbo].[messages] ([Id], [MessageWrite], [MessageReply], [MessageRead], [usernumber]) VALUES (2, N'hayyyyyyyyyy', N'string', 1, N'7834874693')
INSERT [dbo].[messages] ([Id], [MessageWrite], [MessageReply], [MessageRead], [usernumber]) VALUES (3, N'45678765678fdasfsadfasfdafswae', N'string', 0, N'37283728372')
SET IDENTITY_INSERT [dbo].[messages] OFF
GO
SET IDENTITY_INSERT [dbo].[Students] ON 

INSERT [dbo].[Students] ([Id], [Name], [Class], [Age], [DepartmentId]) VALUES (1, N'Alice Johnson', N'HR101', 25, 1)
INSERT [dbo].[Students] ([Id], [Name], [Class], [Age], [DepartmentId]) VALUES (2, N'Bob Smith', N'HR102', 28, 1)
INSERT [dbo].[Students] ([Id], [Name], [Class], [Age], [DepartmentId]) VALUES (3, N'Charlie Williams', N'HR103', 30, 1)
GO
SET IDENTITY_INSERT [dbo].[Students] OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_UserPorfile] ON 

INSERT [dbo].[TBL_UserPorfile] ([sno], [Name], [MobileNo], [About], [StatusLine], [Images]) VALUES (4, N'chinu dubey', N'7834874693', N'asdbhasdbjhcas', N'i am badmash pandat ka londa', N'92c6e3cf-dcf8-4ba9-b2d8-aa78d56b7248.jpg')
INSERT [dbo].[TBL_UserPorfile] ([sno], [Name], [MobileNo], [About], [StatusLine], [Images]) VALUES (5, N'ayush', N'9958133042', N'', N'linennnnnnnnnnnn', N'a397fff7-48e0-4050-be03-6d3ebe91f63c.jpg')
SET IDENTITY_INSERT [dbo].[TBL_UserPorfile] OFF
GO
SET IDENTITY_INSERT [dbo].[tblMessages] ON 

INSERT [dbo].[tblMessages] ([id], [MsgSenderMobileNumber], [MsgReciveMobileNumber], [MsgDesc], [MsgRead], [Sendertime], [Recivetime]) VALUES (1, N'7834874693', N'9958133042', N'hat', N'1', CAST(N'2025-07-28T17:52:06.583' AS DateTime), CAST(N'2025-08-19T12:54:24.733' AS DateTime))
INSERT [dbo].[tblMessages] ([id], [MsgSenderMobileNumber], [MsgReciveMobileNumber], [MsgDesc], [MsgRead], [Sendertime], [Recivetime]) VALUES (2, N'9958133042', N'7834874693', N'what', N'1', CAST(N'2025-07-28T18:01:27.340' AS DateTime), CAST(N'2025-08-24T12:37:19.717' AS DateTime))
INSERT [dbo].[tblMessages] ([id], [MsgSenderMobileNumber], [MsgReciveMobileNumber], [MsgDesc], [MsgRead], [Sendertime], [Recivetime]) VALUES (3, N'7834874693', N'9958133042', N'what about yorue', N'1', CAST(N'2025-07-28T18:05:35.893' AS DateTime), CAST(N'2025-08-19T12:54:24.733' AS DateTime))
SET IDENTITY_INSERT [dbo].[tblMessages] OFF
GO
SET IDENTITY_INSERT [dbo].[tblStatus] ON 

INSERT [dbo].[tblStatus] ([sno], [MobileNo], [Status], [CreatedAt]) VALUES (90, N'7834874693', N'aasasc', CAST(N'2025-07-28T12:06:59.240' AS DateTime))
INSERT [dbo].[tblStatus] ([sno], [MobileNo], [Status], [CreatedAt]) VALUES (10086, N'7834874693', N'hayyyyyyyyyyyyyy', CAST(N'2025-08-19T12:55:24.707' AS DateTime))
SET IDENTITY_INSERT [dbo].[tblStatus] OFF
GO
ALTER TABLE [dbo].[tblStatus] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[UspUserStatus] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
/****** Object:  StoredProcedure [dbo].[usp_DeleteOldStatus]    Script Date: 24-08-2025 13:08:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_DeleteOldStatus]
    @mobileno VARCHAR(200)
AS
BEGIN
    -- Sirf ek hi record delete kare: sabse purana (oldest)
    DELETE FROM tblStatus
    WHERE sno = (
        SELECT TOP 1 sno
        FROM tblStatus
        WHERE MobileNo = @mobileno
          AND CreatedAt IS NOT NULL
        ORDER BY CreatedAt ASC
    );
END
GO
/****** Object:  StoredProcedure [dbo].[uspGetMessageAndSelectMobileNumberMessage]    Script Date: 24-08-2025 13:08:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[uspGetMessageAndSelectMobileNumberMessage] --'9958133042','37823728'    
(    
    @MSGSendermobileno VARCHAR(200)   ,
    @MsgReciveLoginmobileno VARCHAR(200)   
	
)    
AS    
BEGIN    
    SELECT tm.MsgDesc, lg.mobileno  ,tm.Sendertime  
    FROM tblMessages tm    
    INNER JOIN logins lg ON tm.MsgReciveMobileNumber = lg.MobileNo    
    WHERE tm.MsgSenderMobileNumber= @MSGSendermobileno   and lg.MobileNo=@MsgReciveLoginmobileno 
	order by tm.Sendertime
END    
GO
/****** Object:  StoredProcedure [dbo].[uspGetMessageSender]    Script Date: 24-08-2025 13:08:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[uspGetMessageSender]  --'9958133042','7834874693'
  
(@MSGSendermobileno varchar(200)  ,
@MsgReciveLoginmobileno varchar(200)
)  
as  
begin  
 SELECT tm.MsgDesc, lg.mobileno  ,tm.Sendertime  
    FROM tblMessages tm    
    INNER JOIN logins lg ON tm.MsgSenderMobileNumber = lg.MobileNo    
    WHERE lg.mobileno = @MSGSendermobileno and    tm.MsgReciveMobileNumber= @MsgReciveLoginmobileno 
	order by tm.Sendertime 
END 

GO
/****** Object:  StoredProcedure [dbo].[uspMarkMessagesAsRead]    Script Date: 24-08-2025 13:08:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[uspMarkMessagesAsRead]
(
    @SenderMobileNo VARCHAR(20),
    @ReciverMobileNo VARCHAR(20)
)
AS
BEGIN
    UPDATE tblMessages
    SET MsgRead = 1
    WHERE MsgSenderMobileNumber = @SenderMobileNo
      AND MsgReciveMobileNumber = @ReciverMobileNo
      AND MsgRead = 0
END
GO
/****** Object:  StoredProcedure [dbo].[uspNotificationCount]    Script Date: 24-08-2025 13:08:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[uspNotificationCount]      
(       
    @MsgReciveLoginmobileno VARCHAR(200)        
)          
AS          
BEGIN          
    -- Step 1: Get all chat contacts (sent or received)  
    WITH AllContacts AS (  
        SELECT MsgSenderMobileNumber AS ContactMobile  
        FROM tblMessages  
        WHERE MsgReciveMobileNumber = @MsgReciveLoginmobileno  
  
        UNION  
  
        SELECT MsgReciveMobileNumber AS ContactMobile  
        FROM tblMessages  
        WHERE MsgSenderMobileNumber = @MsgReciveLoginmobileno  
    ),  
  
    -- Step 2: Count unread messages from each contact TO this user  
    UnreadCounts AS (  
        SELECT MsgSenderMobileNumber, COUNT(*) AS unreadmsg  
        FROM tblMessages  
        WHERE MsgReciveMobileNumber = @MsgReciveLoginmobileno  
            AND MsgRead = 0  
        GROUP BY MsgSenderMobileNumber  
    )  
  
    -- Final Result  
    SELECT   
        ac.ContactMobile AS MsgSenderMobileNumber,  

        -- Show name if available, otherwise fallback to mobile number
        ISNULL(up.Name, ac.ContactMobile) AS SenderName,  

        up.Images AS SenderImage,  
  
        ISNULL(uc.unreadmsg, 0) AS unreadmsg,  
        MAX(tm.Id) AS LastMsgId  
    FROM AllContacts ac  
    LEFT JOIN tblMessages tm  
        ON (tm.MsgSenderMobileNumber = ac.ContactMobile AND tm.MsgReciveMobileNumber = @MsgReciveLoginmobileno)  
        OR (tm.MsgReciveMobileNumber = ac.ContactMobile AND tm.MsgSenderMobileNumber = @MsgReciveLoginmobileno)  

    LEFT JOIN UnreadCounts uc  
        ON ac.ContactMobile = uc.MsgSenderMobileNumber  

    -- ✅ Correct table name here
    LEFT JOIN TBL_UserPorfile up  
        ON up.MobileNo = ac.ContactMobile  

    GROUP BY ac.ContactMobile, uc.unreadmsg, up.Name, up.Images  
    ORDER BY LastMsgId DESC  
END
GO
/****** Object:  StoredProcedure [dbo].[uspTBL_UserPorfileInsertUpdate]    Script Date: 24-08-2025 13:08:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[uspTBL_UserPorfileInsertUpdate]
(
    @sno BIGINT,
    @Name VARCHAR(200),
    @MobileNo VARCHAR(200),
    @About NVARCHAR(MAX),
    @StatusLine VARCHAR(MAX),
    @Images NVARCHAR(MAX),
    @flag VARCHAR(200)
)
AS
BEGIN
    -- INSERT Operation
    IF (@flag = 'I')
    BEGIN
        INSERT INTO TBL_UserPorfile (
            Name,
            MobileNo,
            About,
            StatusLine,
            Images
        )
        VALUES (
            @Name,
            @MobileNo,
            @About,
            @StatusLine,
            @Images
        )
    END

    -- UPDATE Operation
    IF (@flag = 'U')
    BEGIN
        UPDATE TBL_UserPorfile
        SET
            Name = @Name,
            MobileNo = @MobileNo,
            About = @About,
            StatusLine = @StatusLine,
            Images = @Images
        WHERE
            sno = @sno
    END
END
GO
/****** Object:  StoredProcedure [dbo].[uspTBL_UserPorfileViewDataMobileNoWise]    Script Date: 24-08-2025 13:08:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create proc [dbo].[uspTBL_UserPorfileViewDataMobileNoWise]
(
@mobileno varchar(200)
)
as
begin
select sno,name,mobileno,about,statusline,Images from TBL_UserPorfile where MobileNo=@mobileno
end
GO
/****** Object:  StoredProcedure [dbo].[usptblMessageinsertandUpdate]    Script Date: 24-08-2025 13:08:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
CREATE  PROCEDURE [dbo].[usptblMessageinsertandUpdate]  
(  
    @MsgSenderMobileNumber VARCHAR(200),  
    @MsgReciveMobileNumber VARCHAR(200),  
    @MsgDesc NVARCHAR(MAX),  
    @flag VARCHAR(10)  
)  
AS  
BEGIN  
    IF (@flag = 'I')  
    BEGIN  
        -- Insert new message  
        INSERT INTO tblMessages  
        (  
            MsgSenderMobileNumber,  
            MsgReciveMobileNumber,  
            MsgRead,  
            MsgDesc,  
   Sendertime   
        )  
        VALUES  
        (  
            @MsgSenderMobileNumber,  
            @MsgReciveMobileNumber,  
            '0',  -- Default MsgRead as '0' (unread)  
            @MsgDesc,  
   GETDATE()  
        )  
  
        SELECT 'Message Inserted Successfully' AS Status  
    END  
  
    ELSE IF (@flag = 'U')  
    BEGIN  
        -- Update MsgRead when the receiver opens the message  
        UPDATE tblMessages  
        SET MsgRead = '1' ,Recivetime=GETDATE()  
        WHERE MsgSenderMobileNumber=@MsgSenderMobileNumber and MsgReciveMobileNumber = @MsgReciveMobileNumber
  
        SELECT 'Message Opened and Marked as Read' AS Status  
    END  
END  
GO
/****** Object:  StoredProcedure [dbo].[usptblstatus_insert]    Script Date: 24-08-2025 13:08:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[usptblstatus_insert]
    @MobileNo VARCHAR(200),
    @Status NVARCHAR(MAX)
AS
BEGIN
    INSERT INTO tblStatus (MobileNo, Status)
    VALUES (@MobileNo, @Status);
END
GO
/****** Object:  StoredProcedure [dbo].[usptblstatusView]    Script Date: 24-08-2025 13:08:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[usptblstatusView]
(
@mobileno varchar(200)
)
as
begin
select status from tblstatus where MobileNo=@mobileno order by sno desc
end
GO
/****** Object:  StoredProcedure [dbo].[usptblstatusViewAllStory]    Script Date: 24-08-2025 13:08:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usptblstatusViewAllStory]
AS
BEGIN
  SELECT 
    MobileNo,
    STRING_AGG(Status, ', ') AS Stories,
    MAX(CreatedAt) AS LatestStoryDate
  FROM tblStatus
  GROUP BY MobileNo
  ORDER BY LatestStoryDate DESC;
END
GO
USE [master]
GO
